.mainWrapper {
  padding: 10px;
  text-align: center;
}

h2 {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  color: red;
  font-weight: normal;
  animation: shake 5s infinite;
}

@keyframes shake {
  0% {
    left: 0;
  }

  38% {
    left: 0;
  }

  40% {
    left: -5px;
  }

  42% {
    left: 0px;
  }

  44% {
    left: 5px;
  }

  46% {
    left: 0px;
  }

  48% {
    left: -5px;
  }

  50% {
    left: 0px;
  }

  52% {
    left: 5px;
  }

  54% {
    left: 0px;
  }

  100% {
    left: 0;
  }
}

.mainUserWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.eachUser {
  position: relative;
  border: 3px black solid;
  background-color: #fff;
  flex-basis: 29%;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}
.eachUser img {
  border: 3px black solid;
}

.removeUserBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 24px;
  outline: none;
  background-color: grey;
  color: white;
  border: 3px solid black;
  transition: 0.3s linear;
}

.removeUserBtn:hover {
  color: black;
  box-shadow: 0 0 3px 3px grey;
}
